body {
  background-color: lightblue;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  color: white;
  text-align: center;
}

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 20px;
text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 10%;
}

a {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 20px;
margin: 15px;
  text-align: center;
}